<div class="navbar-container">
  <div class="navbar-menu">
    <div class="logo-container-login">
      <img src="assets/images/logo.jpg" alt="Logo" />
      <p>VetInterpreter</p>
    </div>

    <div class="menu">
      <!-- DASHBOARD -->
      <div class="menu-elements">
        <!-- <p>Dashboard</p> -->
        <div class="menu-element" (click)="goToDashboard()">
          <div class="photo-name">
            <img src="assets/images/pawprint.png" alt="">
            <p>Dashboard</p>
          </div>
        </div>
      </div>

      <!-- KALENDARZ -->
      <div class="menu-elements">
        <p>Kalendarz</p>
        <div class="menu-element" (click)="goToCalendar()">
          <div class="photo-name">
            <img src="assets/images/pawprint.png" alt="">
            <p>Kalendarz</p>
          </div>
        </div>
      </div>

      <!-- ZWIERZĘTA (lista) -->
      <div class="menu-elements">
        <p>Zwierzęta</p>
        <div class="menu-element" *ngFor="let animal of animals; trackBy: trackById">
          <div class="photo-name">
            <img src="assets/images/pawprint.png" alt="">
            <p (click)="selectAnimal(animal)">{{ animal.name }}</p>
          </div>
        </div>
      </div>

      <!-- DOKUMENTY -->
      <div class="menu-elements">
        <p>Dokumenty</p>

        <!-- <div class="menu-element" (click)="goToDocuments()">
          <div class="photo-name">
            <img src="assets/images/add.png" alt="">
            <p>Wszystkie dokumenty</p>
          </div>
        </div> -->

        <div class="menu-element" (click)="goToAddDocument()">
          <div class="photo-name">
            <img src="assets/images/add.png" alt="">
            <p>Dodaj dokument</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
