.dashboard-menu-container {
  position: fixed;
  top: 52px;
  right: 0;
  width: 80vw;
  height: calc(100vh - 52px);
  background-color: #1d222b;
  overflow-y: auto;
  padding: 40px 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 800px;
  background-color: #212631;
  padding: 40px;
  border: 1px solid #383c46;
  border-radius: 16px;
  gap: 30px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

fieldset {
  border: 1px solid #444;
  padding: 25px;
  border-radius: 12px;
  background-color: #2a2f3d;
}

legend {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
  color: #ddd;
  padding: 0 10px;
}

label {
  display: block;
  font-weight: 500;
  margin-top: 12px;
  color: #ccc;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  font-size: 14px;
  border: 1px solid #666;
  border-radius: 6px;
  background-color: #f2f2f2;
  color: #000;
}

textarea {
  resize: vertical;
}

input[type="date"] {
  color-scheme: light;
}

button {
  margin-top: 10px;
  padding: 12px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  align-self: flex-start;

  &:hover {
    background-color: #0b7dda;
  }
}
select {
  width: 100%;
  padding: 0.55rem 0.8rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 0.95rem;
  background-color: #fff;
  appearance: none; /* usuwa natywną strzałkę w niektórych przeglądarkach */
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='20' viewBox='0 0 20 20' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M5.516 7.548l4.484 4.485 4.484-4.485L16 9.548 10 15.548 4 9.548z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0.7rem center;
  background-size: 1rem;
  cursor: pointer;
  transition: border-color 0.2s, box-shadow 0.2s;

  &:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
    outline: none;
  }
}
