<!-- Toolbar -->

<div class="toolbar-container" role="banner">
  <div class="menu-container">
    <div class="logo-container">
      <img src="../assets/images/logo.jpg" alt="Logo" />
      <p>VetInterpreter</p>
    </div>
    <div class="menu-items">
      <div class="menu-item"><a routerLink="/" [class.active]="isActive('/')">Strona główna</a></div>
      <div class="menu-item"><a routerLink="/about" [class.active]="isActive('/about')">O nas</a></div>
      <div class="menu-item"><a routerLink="/blog" [class.active]="isActive('/blog')">Blog</a></div>
      <!-- tu bedzie word press podpiety kiedys -->
      <div class="menu-item"><a routerLink="/login" [class.active]="isActive('/login')">Logowanie</a></div>
      <div class="menu-item"><a routerLink="/register" [class.active]="isActive('/register')">Rejestracja</a></div>

      <!-- <div class="menu-item"><a routerLink="/register" [class.active]="isActive('/register')">Wyloguj</a></div> -->
    </div>
  </div>
</div>




<!-- <div class="content" role="main"> -->


<div>
  <app-front-page></app-front-page>
</div>

<!-- Footer -->
<footer>
</footer>
<!-- </div> -->

<router-outlet></router-outlet>