<div class="front-elements">

  <div class="welcome-container">
    <div class="front-conatainer">
      <div class="welcome-text">
        <p class="vet-text">VetInterpreter</p>
        <!-- <p class="app-text">Aplikacja weterynaryjna</p> -->
        <p>
          Wykorzystuje zaawansowaną sztuczną inteligencję do analizy i
          interpretacji wyników badań. Dzięki temu klientom i weterynarzom jest łatwiej zrozumieć diagnozy i zalecenia.
          System generuje precyzyjne raporty z wynikami badań, co przekłada się na skuteczną opiekę nad zwierzętami.
        </p>
        <div class="get-start-button"><button>Zaczynam</button></div>
      </div>
      <div class="welcome-photo"><img alt="cat" src="../../assets/images/IMG_1352.png" /></div>
    </div>
  </div>
  <div class="departemnts-conatiner"></div>
  <div></div>
</div>