.front-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;

  .padding-photo {
    padding: 50px 1.5rem 100px;
  }


  .welcome-container {
    width: 100%;
    min-height: 500px;
    border-bottom: 0.5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/images/DSC_3703.webp');
    background-size: cover;
    background-position: center;

    .welcome-text {
      display: flex;
      flex-direction: column;
      width: 55%;

      p {
        font-size: 19px;
        font-family: "Dosis", sans-serif;
        // margin: 0;
        color: white;
      }

      .vet-text {
        font-size: 50px;
        color: rgb(23, 46, 164);
        font-family: "Work Sans", sans-serif;
        font-weight: 800;
        margin: 35px 0;
      }

      .app-text {
        font-size: 25px;
        color: rgb(209, 205, 8);
        font-family: "Work Sans", sans-serif;
        font-weight: 600;
        font-family: "Dosis", sans-serif;
        margin: 20px 0;
      }

      .get-start-button {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        a {
          text-decoration: none;
          padding: 10px 40px;
          height: 40px;
          margin-top: 25px;
          border: none;
          border-radius: 13px;
          background: linear-gradient(105deg, #5b68eb 0%, #28e1fd 100%);
          border-radius: 999px;
          box-shadow: #5E5DF0 0 10px 10px -10px;
          box-sizing: border-box;
          color: #FFFFFF;
          cursor: pointer;
          font-size: 16px;

          &:hover {
            background: linear-gradient(105deg, #5b68eb 40%, #28e1fd 80%);
          }

        }
      }
    }


    .welcome-photo {
      img {
        width: 350px;
      }
    }
  }

  .departemnts-conatiner {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/images/services-left-dec.jpg');
    background-size: cover;
    background-position: top;

    .center-container {
      justify-content: center;
      flex-direction: column;
    }

    .departemnts-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;

      .text-our {
        font-size: 15px;
        font-weight: 700;
        color: #4da6e7;
        margin-bottom: 15px;
      }

      .text-what {
        text-align: center;
        color: #2a2a2a;
        font-size: 35px;
        font-weight: 700;
        margin: 0 0 25px 0;
      }

      .line-dec {
        width: 50px;
        height: 2px;
        background-color: #4da6e7;
      }
    }

    .blog-container {
      display: flex;
      flex-direction: row;
      width: 100%;

      .big-post {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        border-radius: 25px;
        z-index: 2;
        // height: 100%;
        width: 50%;
        background-color: rgba(255, 255, 255, 0.6);
        flex-direction: column;
        margin: 0 30px 0 0;

        .big-blog-photo {
          width: 100%;
          height: 55%;
          border-top-left-radius: 23px;
          border-top-right-radius: 23px;
          background-image: url('../../assets/images/DSC_3703.webp');

          &:hover {
            cursor: pointer;
          }
        }

      }

      .small-posts {
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 25px;
        width: 50%;
        gap: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 0 0 30px;
        text-decoration: none;

        .small-post-photo {
          width: 50%;
          border-radius: 23px;
          height: 100%;
          background-image: url('../../assets/images/DSC_3703.webp');
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

          &:hover {
            cursor: pointer;
          }
        }

        .post {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          border-radius: 25px;
          background-color: hsla(0, 0%, 100%, 0.60);
          min-height: 100px;
          height: auto;
          width: 100%;
          flex-direction: row;
        }
      }

      .date-topic,
      .by-who {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;

        .topic {
          font-size: 15px;
          font-weight: 600;
          background-color: #4da6e7;
          border-radius: 18px;

          &:hover {
            background: linear-gradient(105deg, #5b68eb 40%, #28e1fd 80%);
          }

          p {
            margin: 0;
            padding: 8px 12px;
            color: #fff;
          }
        }

        p {
          color: #afafaf;
          text-align: center;

        }

        .who {
          display: flex;
          align-items: center;
          gap: 25px;

          img {
            border-radius: 50%;
          }
        }

        .more {
          border-radius: 18px;
          border: 1px solid #4da6e7;
          background-color: white;
          padding: 10px 20px;
          display: flex;
          flex-direction: row;
          gap: 5px;
          text-decoration: none;

          p {
            margin: 0;
            color: #4da6e7;
          }

          &:hover {
            cursor: pointer;
            color: #3b85ba;
            border: 1px solid #3b85ba;

          }
        }
      }

      .small-post {
        width: calc(50% - 60px);
      }

      .post-text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        a {
          text-decoration: none;

          .title {
            font-size: 20px;
            font-weight: 600;
            color: black;
            margin-top: 20px;
            margin-bottom: 20px;

            &:hover {
              cursor: pointer;
            }
          }
        }

        .text {
          font-size: 15px;
          color: #afafaf;
        }
      }
    }
  }

  .menu-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;

    .element-panel {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 0px;
      width: 200px;
      height: 160px;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      border-radius: 15px;
      transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
      gap: 10px;
      background-color: white;

      .img-container {
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: linear-gradient(105deg, #5b68eb 0%, #28e1fd 100%);

        img {
          max-width: 40px;
          min-width: 40px;
        }
      }

      p {
        color: #2a2a2a;
        margin: 0px;
        font-size: 17px;
        font-weight: 700;
        padding: 0 10px;
      }
    }

    .active {
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }
  }

  .departemnts-elements {
    transition-delay: 0.3s;
    z-index: 2;
    transform: translateX(0px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: hsla(0, 0%, 100%, 0.6);
    border-radius: 15px;
    height: 100%;
    min-height: 300px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .text-container {
      width: 50%;
      margin: 60px 0 60px 60px;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .titile {
        font-size: 20px;
        font-weight: 700;
        line-height: 35px;
        margin-bottom: 25px;
        color: #4b8ef1;
      }

      .normal-text {
        font-size: 15px;
        color: #6d6d6d;
      }

      .ticks-list {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        p {
          color: #000000;
          font-size: 16px;

          &::before {
            content: '✔';
            font-size: 16px;
          }
        }
      }


    }

    .img-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 auto;
      width: calc(50% - 60px);
      padding: 60px;

      img {
       max-height: 400px;
       max-width: 100%;
      }
    }
  }
}

.front-container {
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 1.5em 0;
}


@media (min-width: 1080px) {
  .front-container {
    max-width: 1080px;
  }
}

@media (max-width: 1080px) {
  .front-elements .departemnts-conatiner .blog-container {
    flex-direction: column;
    gap: 60px;

    .big-post,
    .small-posts {
      width: 100%;
      margin: 0;
    }

    .small-posts .small-post-photo {
      height: 215px;
    }

    .big-post .big-blog-photo {
      height: 350px;
    }
  }

}

@media (min-width: 960px) and (max-width: 1080px) {
  .front-container {
    max-width: 960px;
  }


}

@media (min-width: 768px) and (max-width: 960px) {
  .front-container {
    max-width: 768px;
  }

  .front-container {
    padding: 100px 2.5rem;
  }
}

@media (min-width: 640px) and (max-width: 768px) {
  .front-container {
    max-width: 640px;
  }
}


@media (max-width: 768px) {

  .front-elements .departemnts-elements {
    padding: 0;
    flex-direction: column;

    .text-container {
      width: auto;
      padding: 60px;
      margin: 0;
    }

    .img-container {
        width: calc(100% - 60px);
        padding: 0 30px 30px;
    }
  }
}

@media (max-width: 640px) {
  .front-elements .departemnts-conatiner .blog-container .date-topic .topic p {
    padding: 8px;
  }

  .front-elements .welcome-container .welcome-text {
    width: 100%;
  }

  .front-elements .departemnts-conatiner .blog-container .date-topic {
    justify-content: center;
    gap: 20px;
  }
}

@media (max-width: 440px) {
  .front-elements .welcome-container .welcome-text .vet-text {
    font-size: 45px;
  }

  .front-elements .departemnts-conatiner .blog-container .by-who {
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
}

@media (max-width: 360px) {
  .front-elements .welcome-container .welcome-text .vet-text {
    font-size: 38px;
  }
}