<div class="login-container-cont">
  <div class="login-form">
    <div class="photo-login"><img src="../assets/images/logo.jpg" alt="Logo" /></div>
    <form>
      <h2>Rejestracja</h2>
      <div class="form-group">
        <label for="username">Nazwa użytkownika:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <!-- dodaj akceptacje polityki -->
      <div class="login-button"><button type="submit">Zarejestruj</button></div>
    </form>
  </div>
</div>